<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<style>
.feature-img {
  width: 100%;
}
.checkmkimg {
  width: 7%;
  float: left;
  padding-right: 5px;
}
.signup_btn {
  background-color: transparent;
  border-color: white;
  color: #fff;
  position: relative;
  display: inline-block;
  border: 2px solid;
  padding:15px 42px 15px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-out;
       -o-transition: all .5s ease-out;
          transition: all .5s ease-out;
}
.signup_btn:hover {
  border-color: #09c;
  background-color: #09c;
  color: #fff;
  text-decoration: none;
}
</style>
<head>
  <title>Why ThinkRTC?</title>
</head>
<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />

<!-- Home -->
<main id="home" class="masthead-video masked">
  <img class="video" src="<%=asset_path'timebg.jpg'%>" alt="why use thinkrtct">
  <div class="opener rel-1" style="background: -webkit-linear-gradient(-70deg,rgba(27, 36, 90, 0.5) 35%,rgba(51, 122, 183, 0.5) 70%,rgba(49, 112, 143, 0.4) 90%)">
    <div class="container">
      <div class="row">
        <center>
        <div class="lead col-lg-6" style="float:none">
          <h1 class="wow fadeInDown">Do The Work You Actually Love Doing.</h1>
          <p class="lead-text"><strong>Spend less time on unproductive tasks, and more time getting the right things done.</strong></p>
        </div>
        <br>
        <div class="lead-controls">
          <div class="row-fields row">
              <a href="/sign_up" class="signup_btn hvr-grow">try it now</a>
          </div>
        </div>
        </center>
      </div>
    </div>
  </div>
</main>

  <!-- Content -->
<div class="content">
  
  <!--Industry section 2-->
  <section id="features1" class="features section" style="background: #fff">
    <div class="container">
      <div class="row-columns row-padding row">  
        <div class="col-feature-img column column-padding col-md-12 text-center wow fadeInLeft">
          <img class="feature-img" style="box-shadow: none" src="<%=asset_path'whyclock7.png'%>">
        </div>
      </div>
    </div>
  </section>
    
  <!--Industry section 3 box half one-->
  <section class="main end" style="padding: 0px; background-image: url(https://static.opentok.com/img/platform/dots.png)">
    <div class="container">
      <div class="clearfix">
        <section class="integrations" style="background: transparent">
          <center>
            <img src="<%=asset_path'pii'%>" alt="personal information">
            <h2>Power your business the smart way.</h2>
          </center>
            <p>Combine your business work and communication in one central hub that’s accessible wherever you go. Spend less time on meetings and email, and more time getting things done.</p>
            <br>
        </section>
        <section class="cta" style="background: transparent">
          <center>
            <img src="<%=asset_path'likesecurity'%>" alt="security">
            <h2>Stop Working Like It's the 90's</h2>
          </center>
            <p>Stop managing customers through long emails, juggling multiple versions of a file. ThinkRTC, there’s just one version of your work and every discussion is safely in context</p>
        </section>
      </div>
    </div>
  </section>
 
 <!--Industry section 4 box half two-->
  <section class="main end" style="padding: 0px; background-image: url(https://static.opentok.com/img/platform/dots.png)">
    <div class="container">
      <div class="clearfix">
        <section class="integrations" style="background: transparent">
          <center>
            <img src="<%=asset_path'encryption'%>" alt="encryption">
            <h2>Everyone on the same page.</h2>
          </center>
            <p>Getting work done in your business  is a team support. So bring your team  together through ThinkRTC. Share, Create and discuss documents and spreadsheets with your team in real-time.</p>
        </section>
        <section class="cta" style="background: transparent">
          <center>
            <img src="<%=asset_path'safeharbor'%>" alt="safe harbor">
            <h2>Empower your business doing the work you actually love doing.</h2>
          </center>
            <p>Spend less time on unproductive tasks, and more time getting the right things done. </p>
        </section>
      </div>
    </div>
  </section>

</div>